{{define "title"}}Test Design{{ end }}
{{define "more_style"}}
<link rel="stylesheet" href="/public/libs/jstree/dist/themes/default/style.min.css">
<link href="/public/libs/pnotify/dist/pnotify.css" media="all" rel="stylesheet" type="text/css" />
<link href="/public/libs/pnotify/dist/pnotify.brighttheme.css" media="all" rel="stylesheet" type="text/css" />
{{end}}

{{define "content"}}
<div class="content-wrapper">
  <!-- Content header -->
    <section class="content-header">
    <h1>
      Test Design
      <small>Manage sections, testcases</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/project/{{.Project.Name}}/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Test Design</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row padleft10">
     <!-- Button trigger modal -->
      <button class="btn btn-primary btn-xs btn-flat" id="add-root-section">
        <i class='fa fa-plus right7'></i>Root Section
      </button>
      <button class="btn btn-primary btn-xs btn-flat bg-navy" id="edit-section">
        <i class='glyphicon glyphicon-edit right7'></i>Edit
      </button>
      <button class="btn btn-danger btn-xs btn-flat" id="del-section-btn">
        <i class="glyphicon glyphicon-remove right7"></i>Delete
      </button>
     
     <div class="row">
       <div class="col-lg-3" style="margin-left:-10px;">
         <div id="testtree" class="top10" style="overflow:auto; border:1px solid silver; min-height:300px;">
         </div>
       </div>
       <div class="col-lg-9 top10" style="margin-left:-10px;">
         <div id="tc_list">
           Please select a section to show test cases.
         </div>
       </div>
     </div><!-- .row -->
  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
{{end}}
{{define "more_scripts"}}
<script type="text/javascript" src="/public/libs/jstree/dist/jstree.min.js"></script>
<script type="text/javascript" src="/public/libs/pnotify/dist/pnotify.js"></script>
<script type="text/javascript" src="/public/libs/pnotify/dist/pnotify.confirm.js"></script>
<script>
  PNotify.prototype.options.styling = "brighttheme";
  PNotify.prototype.options.delay = 1500;

  var parent_id = -1;

  // The ID of selected node
  var node_id = -1;

  function AddEditSection(isRoot, isEdit){
    var titleStr;
    var textStr;
    var targetURL = "/project/{{.ProjectName}}/section/add";
    if(isRoot){
      titleStr = "Add a root section";
      textStr = "Please describe name of the section";
    }

    if(isEdit){
      titleStr = "Edit a section name";
      textStr = "Please describe new name of the section";
      targetURL = "/project/{{.ProjectName}}/section/edit";
    }

    var noti = new PNotify({
        title: titleStr,
        text: textStr,
        icon: false,
        type: 'info',
        hide: false,
        confirm: {
            confirm: true,
            prompt: true
        },
        buttons: {
            closer: false,
            sticker: false
        },
        history: {
            history: false
        },
        addclass: 'stack-modal'
    });

    noti.get().on('pnotify.confirm', function(e, notice, val) {
      var selectedNodeId = node_id;
      if(isRoot == true){
        selectedNodeId = "#";
      }
      var postData = {"parent_id" : selectedNodeId, "title": val, "is_test_case" : "true"}
      $.post( targetURL, postData, function(data) {
          var obj = jQuery.parseJSON(data);
          new PNotify({
              title: 'Success',
              text: obj.msg,
              type: 'success'
          });
          location.reload();
      })
      .fail(function(data) {
        var obj = jQuery.parseJSON(data);
        new PNotify({
              title: 'Fail!',
              text: obj.msg,
              type: 'error'
          });
      });
    }).on('pnotify.cancel', function(e, notice) {
      // do nothing
    });
  }

  $(document).ready(function() {
    $('#testtree').jstree({
      "core" : {
        "multiple": false,
        "animation" : 0,
        "check_callback" : true,
        "data" : function(obj, cb){
          cb.call(this, JSON.parse("{{.TreeData}}"));
        }// end of data
      }, // end of core
      "types" : {
        "#" : {
          "max_children" : 100, 
          "max_depth" : 3, 
          "valid_children" : ["root"]
        },
        "root" : {"valid_children" : ["default"]},
        "default" : {"valid_children" : ["default"]},
      },//end of types
      "plugins" : ["dnd", "search","state", "types", "wholerow"]
    }); // end of jstree initialization


    //handle click(select) action on node
    $("#testtree").bind("select_node.jstree", function(event, data){
      node_id = data.node.id;
      parent_id = data.node.parent;
      var level = data.node.parents.length;

      // run AJAX and render
      $.getJSON('/project/{{.Project.Name}}/section/testcase/'+ node_id, function(data){
        $('#tc_list').html('');
        var items = [];
        if(level < 3){
          items.push("<button class='btn btn-primary btn-xs btn-flat right10' id='subsection-btn'>" + 
            "<i class='fa fa-plus right7'></i>Subsection</button>");
        }
        items.push("<a href='/project/{{.Project.Name}}/case/add?sectionid="+ node_id +
          "'><button class='btn btn-primary btn-xs btn-flat'>" +
          "<i class='fa fa-plus right7'></i>Test Case</button></a>");

        items.push("<div class='table-responsive'><table class='table table-striped'>");
        items.push("<thead><tr><th>#</th><th>Title</th><th>Status</th><th>Priority</th><th>Category</th><th>Action</th></tr></thead>");
        items.push("<tbody>");
        var objList = jQuery.parseJSON(data);
        if(objList.length == 0){
          items.push("<tr><td colspan='6'></td></tr>");
        }
        else{
          $.each(objList, function(key, val){
            var priority = ["Unknown", "Highest", "High", "Medium", "Low", "Lowest"];
            var status=["Unknown", "Active", "Inactive", "Close"];
              items.push("<tr>"+ 
                "<td>"+ val.DisplayID + "</td>" + 
                "<td><a href='/project/{{.Project.Name}}/case/view/"+ val.ID + "'>" + 
                  val.Title + "</a></td>" + 
                "<td>" + status[val.Status] + "</td>" + 
                "<td>" + priority[val.Priority] + "</td>" +
                "<td>" + val.Category.Name + "</td>" +
                "<td>" + 
                "<span class='glyphicon glyphicon-edit fa-fw right7 tc-edit' id='"+ val.ID
                +"' style='cursor:pointer;'></span>"+
                "<span class='glyphicon glyphicon-remove tc-del' id='"+val.ID + 
                "' style='cursor:pointer;'></span>"+
                "</td>" +
                "</tr>");
          
          });
        } // end of if
        $('#tc_list').html(items.join(""));
          items.push("</tbody></table></div>");
      }); // end of testtree click event binding
  });

  $('body').on('click','.tc-edit',function(){
    var id = $(this).attr('id');
    $(location).attr("href", "/project/{{.Project.Name}}/case/edit/" + id );
  });

  $('body').on('click', '.tc-del', function(){
      var id = $(this).attr('id');
      var noti = new PNotify({
          title: 'Confirmation Needed',
          text: 'Are you sure to delete?',
          icon: 'glyphicon glyphicon-question-sign',
          hide: false,
          confirm: {confirm: true},
          buttons: {
              closer: false,
              sticker: false
          },
          history: {history: false},
          addclass: 'stack-modal'
      });

      noti.get().on('pnotify.confirm', function() {
        $.post("/project/{{.Project.Name}}/case/delete", {id: id})
            .done(function(data){
            location.reload();
          })
        .fail(function(data) {
          var obj = jQuery.parseJSON(data);
          new PNotify({
                title: 'Fail!',
                text: obj.msg,
                type: 'error'
            });
        });
      }).on('pnotify.cancel', function() {
    });
  });

  // handler for edit section button
  $('#edit-section').click(function(){
    AddEditSection(false, true);
  });

  // handler for root section add button
  $('#add-root-section').click(function(){
    AddEditSection(true, false);
  });

  // handler for subsection add button
  $('body').on('click', '#subsection-btn', function(event){
    AddEditSection(false, false);
  });
  
  // handler for delete section. Root section can not be deleted
  $('body').on('click', '#del-section-btn', function(){
    var title = $('#section-title').val();
    var noti = new PNotify({
        title: 'Confirmation Needed',
        text: 'Are you sure to delete?',
        icon: 'glyphicon glyphicon-question-sign',
        hide: false,
        confirm: {
            confirm: true
        },
        buttons: {
            closer: false,
            sticker: false
        },
        history: {
            history: false
        },
        addclass: 'stack-modal'
    });
    
    noti.get().on('pnotify.confirm', function() {
      // POST JSON to delete
      $.post( "/project/{{.ProjectName}}/section/delete", {"section_id" : node_id, "is_requirement" : "false"}, 
        function(data) {
          var obj = jQuery.parseJSON(data);
          new PNotify({
              title: 'Success',
              text: obj.msg,
              type: 'success'
          });
          // more clear way is refresh jstree only. but I don't find how to
          /*var tree = $('#testtree').jstree(true);
          tree.settings.core.data = obj.data;
          tree.redraw();
          */
          location.reload();
      })
      .fail(function(data) {
        var obj = jQuery.parseJSON(data);
        new PNotify({
              title: 'Fail!',
              text: obj.msg,
              type: 'error'
          });
      });
    }).on('pnotify.cancel', function() {
    });
  });
  });
</script>
{{end}}