{{define "title"}}Welcome!{{ end }}
{{define "more_style"}}{{end}}
{{define "content"}}
<div class="content-wrapper">
  <section class="content">
    <div class="box box-default">
      <div class="box-body">
        <h1>Hello! {{.User.Name}}</h1>
        <span>Your last login is at {{.User.LastLoginAt.Format "Jan 02, 2006 15:04:05"}}</span>
      </div>
    </div><!-- .box -->

    <div class="box box-default">
      <div class="box-header with-border">
        <h3>Your Projects</h3>
        <span>asdf</span>
      </div>
      <div class="box-body">
        <ui>
        {{range .Projects}}
        <li class="iteration-item">
          <a href='/project/{{.Name}}'>{{.Name}}</a>
        </li>
        {{end}}
      </ui>
      </div>
    </div><!-- .box -->
    
    <div class="box box-default">
      <div class="box-header with-border">
        <h3>Your have {{.ExecCount}} task(s).</h3>
      </div>
      <div class="box-body">
        {{range .Execs}}
        <div class="row iteration-item">
          <div class="col-md-2">
            <a href='#'>{{.Project.Name}}</a>
          </div>
          <div class="col-md-4">
            "{{.Plan.Title}}" Test plan
          </div>
          <div class="col-md-2">
            {{.Plan.ExecCaseNum}} testcase(s)
          </div>
        </div>
        {{end}}
      </div><!-- .box-body -->
    </div><!-- .box -->
  </section>
</div><!-- /.content-wrapper -->
{{end}}
{{define "more_scripts"}}{{end}}