language: go
go:
- 1.5
sudo: false
services:
- memcache
- redis-server
- postgresql
addons:
  postgresql: '9.3'
before_script:
- psql -c 'create database ladybug;' -U postgres
install:
- export PATH=$PATH:$HOME/gopath/bin
- go get -v gopkg.in/fsnotify.v1
- go get -v github.com/gorilla/mux
- go get -v github.com/gorilla/sessions
- go get -v github.com/gorilla/schema
- go get -v github.com/jinzhu/gorm
- go get -v github.com/lib/pq
- go get -v golang.org/x/crypto/bcrypt
- go get -v gopkg.in/inconshreveable/log15.v2
script:
- revel test github.com/wisedog/ladybug
notifications:
  slack: ladybugdev:dGWtXjXTstY63pMo2yLvvOHy
