{{set . "title" "User"}}
{{template "header.html" .}}
<div id="page-wrapper">
  <div class="row bottom17">
  </div>
  <div class="row bottom17">
    <div class="col-lg-12">
      <div class="well">
        <h1>Hello! {{.u.Name}}</h1>
        <span>You created this account at {{.u.CreatedAt.Format "2006-01-01"}}</span>
      </div>
    </div>
  </div>
  {{if .errors}}
  <div class="row">
    Please fix an error!
    {{range .errors}}
    {{.Message}}
    {{end}}
    {{if .errors.usr.Name}}
    NAMEE!!!!!
    {{end}}
    {{if .errors.user.Password}}
    password!
    {{end}}
    {{ if .errors.Password}}
    password1
    {{end}}
  </div>
  {{end}}
  <!-- /.row -->
  <form method="POST" action="{{url "Users.SaveGeneral" .u.ID}}">
    <div class="row bottom10 vertical-align">
      <div class="col-lg-2" style="top:50%;"> 
        <span>Name</span>
      </div>
      <div class="col-lg-4">
        <div class="{{if .errors}}has-error{{end}}">
          <input class="form-control" value="{{.u.Name}}" name="Name">
        </div>
      </div>
    </div>
    <!-- end of row -->
    <div class="row bottom30 vertical-align">
      <div class="col-lg-2"> 
        Language
      </div>
      <div class="col-lg-4">
        <select class="form-control" name="Language">
          <option value="en" {{if eq .u.Language "en"}}selected{{end}}>English</option>
          <option value="ko" {{if eq .u.Language "ko"}}selected{{end}}>Korean</option>
        </select>
      </div>
      <!-- 
            example : To code with $field 
              {{with $field := field "Language" .}}
                {{option $field "en" "English"}}
                {{option $field "ko" "Korean"}}
              {{if $.u.Name}}aaaa   {{end}}
              {{end}} -->
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
  <!-- end of row -->
</div>
<!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->  


{{template "footer.html" .}}
