{{set . "title" "Builds"}}
{{set . "active_index" "builds"}}

{{template "header.html" .}}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Build Item
    <small>Add a build item</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="{{url "Projects.Dashboard" .project}}"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="{{url "Builds.Index" .project}}"> Build</a></li>
    <li><a href="{{url "Builds.View" .project .build.ID}}"> View</a></li>
    <li class="active"> Here</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <form method="POST" action="{{url "Builds.SaveBuildItem" .project .build.ID}}">
      <div class="row">
        <div class="col-md-12">
          <div class="row vertical-align bottom10">
            <div class="col-md-1"><strong>Name</strong></div>
            {{with $field := field "build.Name" .}}
            <div class="col-md-8 {{if $field.Error}}has-error{{end}}">
              <input class="form-control" name="{{$field.Name}}" value="{{$field.Flash}}">
            </div>
            {{end}}
          </div><!-- .row -->
          <div class="row form-group bottom10">
            <div class="col-md-12">
              <label>{{msg . "description"}}</label>
              {{with $field := field "build.Description" .}}
              <textarea class="form-control" rows="4" name="{{$field.Name}}" >{{$field.Flash}}</textarea>
              {{end}}
            </div>
          </div>
        </div> <!-- .col-md -->
      </div> <!-- .row -->
      <div class="row bottom10">
        <div class="col-md-1">
          <label for="exampleInputFile">Target Binary</label>
        </div>
        <div class="col-md-6">
          <input type="file" id="exampleInputFile">
        </div>
      </div><!-- .row -->
      <div class="row bottom10 vertical-align">
        <div class="col-md-1">
          <label>or URL</label>
        </div>
        <div class="col-md-8">
          <input class="form-control"></input>
        </div>
      </div>
      <div class="row bottom10">
        <div class="col-md-6">
          <button type="submit" class="btn btn-primary btn-flat btm-sm">Create</button>
        </div>
      </div> <!-- .row -->
    </form>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
  
{{template "footer.html" .}}
{{template "footer_rest.html" .}}
