{{set . "title" "Builds"}}
{{set . "showsidebar" "true"}}

<!-- Ordering of including CSSs problem. -->
{{if .builds}}
{{set . "include_datatable" "true"}}
{{end}}
{{template "header.html" .}}
<div id="page-wrapper">
  <div class="row vertical-align padtop10 bottom10">
    
    <a href='{{url "Builds.Add" .project }}' class="right15">
      <button class="btn btn-outline btn-primary btn-sm">
        <i class="glyphicon glyphicon-plus right7"></i>
        Create Manual
      </button>
    </a>
    <a href='{{url "Builds.Integrate" .project}}'>
      <button class="btn btn-outline btn-primary btn-sm">
        <i class="fa fa-gears right7"></i>
        Integrate with a CI tool
        </button>
    </a>
  </div>

  <div class="row">
    {{if .builds}}
    {{else}}
        <span> There is no builds/release information! Create or import first.</span>
    {{end}}
  </div><!-- .row -->
  {{if .builds}}
  <div class="row">
    <table class="table table-striped table-bordered table-hover" id="datatable_ex">
      <thead>
        <tr>
          <th class="min">Build Status</th>
          <th>Name</th>
          <th class="no-sort">{{msg . "description"}}</th>
          <th class="min">Builds</th>
          <th class="min">Tool</th>
          <th class="min">Action</th>
        </tr>
      </thead>
      <tbody>
      {{range $index, $node := .builds}}
        <tr class="odd">
          <td><div class="{{if eq $node.Status 0}}red-circle20{{else}}green-circle20{{end}}"></div></td>
          <td><a href='{{url "Builds.View" $.project $node.ID}}'>{{$node.Name}}</a></td>
          <td>{{$node.Description}}</td>
          <td>{{$node.BuildItemNum}}</td>
          <td>{{$node.ToolName}}</td>
          <td>
            <a href='{{url "Builds.View" $.project $node.ID}}' class="fa fa-info fa-fw"></a>
            {{if eq $node.ToolName "custom"}}
            <a href='{{url "Builds.Edit" $.project $node.ID}}' class="glyphicon glyphicon-edit fa-fw"></a>
            {{end}}
            <a href="#" class="glyphicon glyphicon-remove fa-fw"></a>
          </td>
        </tr>
      {{end}}
      </tbody>

    </table>
    </div><!-- .row -->
    {{end}}
</div><!-- /#page-wrapper -->
</div><!-- /#wrapper -->

{{template "footer.html" .}}
{{if .builds}}
<script src="/public/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="/public/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

<script>
$(document).ready(function(){
    $('#datatable_ex').DataTable({
    responsive:true,
    columnDefs: [ {
        "targets": 'no-sort',
        "orderable": false,
        },
        {
        "targets" : "min",
        "width" : "8%",
        },
        {"targets" : "min12",
        "width": "12%",
        }
        ]});
    });
</script>
{{end}}
