{{set . "title" "Builds"}}
{{set . "showsidebar" "true"}}

{{template "header.html" .}}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Integrete with CI tools
      <small>Setting tools like Jenkins, Teamcity...</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
      <li class="active">Here</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row bottom10">
      <div class="col-md-3">
        <select class="form-control">
          <option value="jenkins">Jenkins</option>
        </select> 
      </div>
    </div> <!-- .row -->
    
        <div class="box box-primary">
          <div class="box-body">
            <div class="row bottom17">
              <div class="col-md-1">
                <label>
                  Job URL
                </label>
              </div>
              <div class="col-md-6">
                <input id="jenkins-url" class="form-control" placeholder="ex) http://&lt;your jenkins server's IP&gt;/job/sample"></input>
              </div>
              <div class="col-md-5">
                <button id="btn-validate" type="button" class="btn btn-primary btn-sm btn-flat">Check</button>
              </div>
            </div>
            <div id="board" class="row" >
      
            </div>
          </div> <!-- .box-body -->
          <div class="box-footer">
            <div id="btnbox" style="display:none;">
            <button id="btn-add" type="button" class="btn btn-primary btn-sm btn-flat">Add</button>
            <a href='{{url "Builds.Index" .project }}'>
              <button id="btn-cancel" type="button" class="btn btn-default btn-sm btn-flat">Cancel</button>  
            </a>
          </div>
          </div>
        </div>  <!-- .box -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{{template "footer.html" .}}

<script>
  $(document).ready(function(){
    $("#btn-validate").click(function(){
      var data={
        url : $('#jenkins-url').val(),
        toolname : "jenkins"
      };
      
      $.post('/project/{{.project}}/build/tool/validate', data).done(function(r){
        if(r.status == 200){
          // show msg to panel
          var brText = r.msg.replace(/\n/g,"<br />");
          $("#board").html("<div class='col-md-6'><div class='attachment-block clearfix'>" + brText + "</div></div>");
          $("#btnbox").show();
        }
        else{
          // Each build tool has their own message. below code is for Jenkins
          $("#board").html("<div class='col-md-6'><pre>Unable to get build information. Please check your Job URL.</pre></div>");
        }
      });
    });
    $('#btn-add').click(function(){
      var data={
        url : $('#jenkins-url').val(),
        toolname : "jenkins",
        project : "{{.project}}"
      };
      
      $.post('/project/{{.project}}/build/tool/add', data).done(function(r){
        console.log(r);
        if(r.status == 200){
          window.location.replace('/project/{{.project}}/build');
        }else{
          // TODO error handling
        }
        
      });
    });
  });
</script>

{{template "footer_rest.html" .}}