{{set . "title" "Test Case"}}
{{set . "active_index" "testdesign"}}
{{template "header.html" .}}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Test Case
      <small>Detail information for testcase</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="{{url "Projects.Dashboard" .project}}"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="{{url "TestDesign.DesignIndex" .project}}"> Design</a></li>
      <li class="active">Here</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-12">
      {{ if .tc}}
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">{{.tc.Prefix}}-{{.tc.Seq}}&nbsp;&nbsp;{{.tc.Title}}</h3>
          </div><!-- .box-header -->

          <div class="box-body">
            <div class="row">
              <div class="col-md-2">
                <strong>Version :</strong>
              </div>
              <div class="col-md-3">
                1
              </div>
              <div class="col-md-2">
                <strong>Last Updated : </strong>
              </div>
              <div class="col-md-3">
                {{.tc.UpdatedAt.Format "2006-01-02" }}
              </div>
            </div> <!-- .row -->
            <div class="row">
              <div class="col-md-2">
                <strong>Status :</strong>
              </div>
              <div class="col-md-3">
                {{if eq .tc.Status 1}}
                Active
                {{else if eq .tc.Status 2}}
                Inactive
                {{else}}
                Closed
                {{end}}
              </div>
              <div class="col-md-2">
                <strong>Reported :</strong>
              </div>
              <div class="col-md-3">
                {{.tc.CreatedAt.Format "2006-01-02" }}
              </div>
            </div><!-- .row -->
            <div class="row">
              <div class="col-md-2">
                <strong>Priority :</strong>
              </div>
              <div class="col-md-3">
                {{.tc.PriorityStr}}
              </div>
              <div class="col-md-2">
                <strong>Execution Type :</strong>
              </div>
              <div class="col-md-3">
                {{if eq .tc.ExecutionType 0 }}
                Manual
                {{else}}
                Automation
                {{end}}
              </div>
            </div> <!--/.row -->
            <div class="row">
              <div class="col-md-2">
                <strong>Estimated Time(Min.) :</strong>
              </div>
              <div class="col-md-3">
                {{.tc.Estimated}}
              </div>
              <div class="col-md-2">
              </div>
              <div class="col-md-3">
              </div>
            </div> <!--.row -->
            <div class="row">
              <div class="col-md-5">
                <h4><strong>{{msg . "description"}}</strong></h4>
              </div>
            </div> <!--.row -->
            <div class="row">
              <div class="col-md-10">
                {{nl2br .tc.Description}}
              </div>
            </div><!-- .row -->
            <div class="row">
              <div class="col-md-5">
                <h4><strong>Precondition</strong></h4>
              </div>
            </div> <!--.row -->
            <div class="row">
              <div class="col-md-10">
                {{nl2br .tc.Precondition}}
              </div>
            </div><!-- .row -->
            <div class="row">
              <div class="col-md-5">
                <h4><strong>Steps</strong></h4>
              </div>
            </div> <!--.row -->
            <div class="row">
              <div class="col-md-10">
                {{nl2br .tc.Steps}}
              </div>
            </div> <!--.row -->
            <div class="row">
              <div class="col-md-5">
                <h4><strong>Expected</strong></h4>
              </div>
            </div> <!--.row -->
            <div class="row">
              <div class="col-md-10">
                {{nl2br .tc.Expected}}
              </div>
            </div> <!--.row -->
            </div><!--.box-body -->
          </div> <!-- .box box-primary -->
          {{else}}
            <p> no data! </p>
          {{end}}
          
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">History</h3>
            </div>
            <div class="box-body">
              <div>
                <ul class="timeline timeline-inverse">
                  {{range .histories}}
                  <li>
                    <i class="fa fa-envelope bg-blue"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> {{.CreatedAt.Format "Jan 02, 2006 15:04:05"}}</span>

                      <h3 class="timeline-header">
                        Updated by <a href="{{url "Users.Profile" .User.ID}}">{{.User.Name}}</a>
                      </h3>

                      <div class="timeline-body">
                        {{range $index, $element := .Changes}}
                          <i class="fa fa-check right7"></i><b>{{$element.Msg}}</b><br />
                        {{end}}
                      </div>
                      {{if .Note}}
                      <div class="timeline-footer">
                        {{.Note}}
                      </div>
                      {{end}}
                    </div>
                  </li>
                  {{end}}
                </ul>
              </div>
            </div><!-- .box-body-->
          </div> <!-- .box -->
          {{if .tc}}
        <div class="row">
          <div class="col-md-6">
            <a href="{{url "TestCases.Edit" .project .tc.ID}}"><button class="btn btn-sm btn-flat btn-primary">Edit</button></a>
          </div>
        </div>
        {{end}}
        
        </div> <!-- .col-md -->
      </div>
      <!-- end of row -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->


{{template "footer.html" .}}
{{template "footer_rest.html" .}}
