{{set . "title" "Testcase Edit"}}
{{set . "sel" "selected"}}
{{template "header.html" .}}
<div id="page-wrapper">
  <form method="POST" action="{{url "TestCases.Update" .project .id}}">
    <div class="row">
      {{with $field := field "testcase.ID" .}}
      <input type="hidden" name="{{$field.Name}}" value="{{$field.Value}}">
      {{end}}
      {{with $field := field "testcase.Seq" .}}
      <input type="hidden" name="{{$field.Name}}" value="{{$field.Value}}">
      {{end}}
      {{with $field := field "testcase.Prefix" .}}
      <input type="hidden" name="{{$field.Name}}" value="{{$field.Value}}">
      {{end}}
      <div class="col-lg-12" style="margin-top:20px">
        <div class="row vertical-align bottom10">
          <div class="col-lg-1"><strong>Title</strong></div>
          <div class="col-lg-8">
            {{with $field := field "testcase.Title" .}}
            <input class="form-control" name="{{$field.Name}}" value="{{if $field.Flash}}{{$field.Flash}}{{else}}{{$field.Value}}{{end}}">
            {{end}}
          </div>
        </div>
        <div class="row vertical-align bottom10">
          <div class="col-lg-1"><label>Priority</label></div>
          <div class="col-lg-2">
            {{with $field := field "testcase.Priority" .}}
            <select class="form-control" name="{{$field.Name}}">
              {{option $field "1" "Highest"}}
              {{option $field "2" "High"}}
              {{option $field "3" "Medium"}}
              {{option $field "4" "Low"}}
              {{option $field "5" "Lowest"}}
            </select>
            {{end}}
          </div>
          <div class="col-lg-1">
            <label>Type</label>
          </div>
          <div class="col-lg-2">
            {{with $field := field "testcase.CategoryID" .}}
            <select class="form-control" name="{{$field.Name}}">
              {{range $.category}}
              <option value="{{.ID}}" {{if eq $field.Value .ID}}{{raw $.sel}}{{end}}>{{.Name}}</option>
              {{end}}
            </select>
            {{end}}
          </div>
          <div class="col-lg-1">
            <label>Estimate Time</label>
          </div>
          <div class="col-lg-2">
            {{with $field := field "testcase.Estimated" .}}
            <input class="form-control" name="{{$field.Name}}" value="{{$field.Value}}">
            {{end}}
          </div>
        </div> <!-- .row -->
        <div class="row vertical-align bottom10">
          <div class="col-lg-1"><strong>Status</strong></div>
          <div class="col-lg-3">
            {{with $field := field "testcase.Status" .}}
            <select class="form-control" name="{{$field.Name}}">
              {{option $field "1" "Active"}}
              {{option $field "2" "Inactive"}}
              {{option $field "3" "Close"}}
            </select>
            {{end}}
          </div>
        </div> <!-- .row -->
        
        <div class="row form-group bottom10 left5">
          <label>{{msg . "description"}}</label>
          {{with $field := field "testcase.Description" .}}
          <textarea class="form-control" rows="4" name="{{$field.Name}}">{{if $field.Flash}}{{$field.Flash}}{{else}}{{$field.Value}}{{end}}</textarea>
          {{end}}
        </div> <!-- .row -->
        <div class="row form-group bottom10 left5">
            <label>Precondition</label>
            {{with $field := field "testcase.Precondition" .}}
            <textarea class="form-control" rows="4" name="{{$field.Name}}">{{$field.Value}}</textarea>
            {{end}}
        </div><!-- end of row -->
        <div class="row form-group bottom10 left5">
            <label>Steps</label>
            {{with $field := field "testcase.Steps" .}}
            <textarea class="form-control" rows="4" name="{{$field.Name}}">{{if $field.Flash}}{{$field.Value}}{{else}}{{$field.Value}}{{end}}</textarea>
            {{end}}
        </div>
        <div class="row form-group bottom10 left5">
            <label>Expected Result</label>
            {{with $field := field "testcase.Expected" .}}
            <textarea class="form-control" rows="4" name="{{$field.Name}}">{{if $field.Flash}}{{$field.Value}}{{else}}{{$field.Value}}{{end}}</textarea>
            {{end}}
        </div>
        
        <div class="row">
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
        <!-- end of row -->
      </div>
    <!-- /#page-wrapper -->
  </div>
  <!-- /#wrapper -->  


  {{template "footer.html" .}}
