{{set . "title" "Testcase Edit"}}
{{set . "active_index" "testdesign"}}
{{set . "sel" "selected"}}
{{template "header.html" .}}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Edit Test Case
      <small></small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="{{url "Projects.Dashboard" .project}}"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="{{url "TestDesign.DesignIndex" .project}}">Test Design</a></li>
      <li class="active">Edit Test Case</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      {{with $field := field "testcase.ID" .}}
      <input type="hidden" name="{{$field.Name}}" value="{{$field.Value}}"></input>
      {{end}}
      {{with $field := field "testcase.Seq" .}}
      <input type="hidden" name="{{$field.Name}}" value="{{$field.Value}}"></input>
      {{end}}
      {{with $field := field "testcase.Prefix" .}}
      <input type="hidden" name="{{$field.Name}}" value="{{$field.Value}}"></input>
      {{end}}
      <div class="col-md-12 top10">
        <div class="row vertical-align bottom10">
          <div class="col-md-1"><strong>Title</strong></div>
          <div class="col-md-8">
            {{with $field := field "testcase.Title" .}}
            <input class="form-control" name="{{$field.Name}}" value="{{if $field.Flash}}{{$field.Flash}}{{else}}{{$field.Value}}{{end}}">
            {{end}}
          </div>
        </div> <!-- .row -->
        <div class="row vertical-align bottom10">
          <div class="col-md-1"><label>Priority</label></div>
          <div class="col-md-2">
            {{with $field := field "testcase.Priority" .}}
            <select class="form-control" name="{{$field.Name}}">
              {{option $field "1" "Highest"}}
              {{option $field "2" "High"}}
              {{option $field "3" "Medium"}}
              {{option $field "4" "Low"}}
              {{option $field "5" "Lowest"}}
            </select>
            {{end}}
          </div>
          <div class="col-md-1">
            <label>Type</label>
          </div>
          <div class="col-md-2">
            {{with $field := field "testcase.CategoryID" .}}
            <select class="form-control" name="{{$field.Name}}">
              {{range $.category}}
              <option value="{{.ID}}" {{if eq $field.Value .ID}}{{raw $.sel}}{{end}}>{{.Name}}</option>
              {{end}}
            </select>
            {{end}}
          </div> <!-- col-md-2 -->
          <div class="col-md-1">
            <label>Estimate Time</label>
          </div>
          <div class="col-md-2">
            {{with $field := field "testcase.Estimated" .}}
            <input class="form-control" name="{{$field.Name}}" value="{{$field.Value}}">
            {{end}}
          </div>
        </div> <!-- .row -->
        <div class="row vertical-align bottom10">
          <div class="col-md-1"><strong>Status</strong></div>
          <div class="col-md-3">
            {{with $field := field "testcase.Status" .}}
            <select class="form-control" name="{{$field.Name}}">
              {{option $field "1" "Active"}}
              {{option $field "2" "Inactive"}}
              {{option $field "3" "Close"}}
            </select>
            {{end}}
          </div>
        </div> <!-- .row -->
        <div class="row form-group bottom10">
          <div class="col-md-12">
            <label>{{msg . "description"}}</label>
            {{with $field := field "testcase.Description" .}}
            <textarea class="form-control" rows="4" name="{{$field.Name}}">{{if $field.Flash}}{{$field.Flash}}{{else}}{{$field.Value}}{{end}}</textarea>
            {{end}}
          </div>
        </div> <!-- .row -->
        <div class="row form-group bottom10">
          <div class="col-md-12">
            <label>Precondition</label>
            {{with $field := field "testcase.Precondition" .}}
            <textarea class="form-control" rows="4" name="{{$field.Name}}">{{$field.Value}}</textarea>
            {{end}}
          </div>
        </div><!-- .row -->
        <div class="row form-group bottom10">
          <div class="col-md-12">
            <label>Steps</label>
            {{with $field := field "testcase.Steps" .}}
            <textarea class="form-control" rows="4" name="{{$field.Name}}">{{if $field.Flash}}{{$field.Value}}{{else}}{{$field.Value}}{{end}}</textarea>
            {{end}}
          </div>
        </div>
        <div class="row form-group bottom10">
          <div class="col-md-12">
            <label>Expected Result</label>
            {{with $field := field "testcase.Expected" .}}
            <textarea class="form-control" rows="4" name="{{$field.Name}}">{{if $field.Flash}}{{$field.Value}}{{else}}{{$field.Value}}{{end}}</textarea>
            {{end}}
          </div>
        </div>
        <form method="POST" action="{{url "TestCases.Update" .project .id}}">
        </form>
        <div class="row col-md-12">
          <button type="submit" class="btn btn-primary btn-flat btn-sm">Update</button>
          <button type="button" class="btn btn-danger btn-flat btn-sm">Cancel</button>
        </div>
      </div> <!-- .col-md -->
    </div> <!-- .row -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{{template "footer.html" .}}
<script>
  $(".btn-danger").click(function(){
    //TODO scan dirty
    window.history.back();
  });
</script>
{{template "footer_rest.html" .}}