{{set . "title" "Test Design"}}
{{template "header.html" .}}
<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12" style="margin-top:20px">
      {{ if .tc}}
      <div class="panel panel-default">
        <div class="panel-heading">

          <h3>{{.tc.Prefix}}-{{.tc.Seq}}&nbsp;&nbsp;{{.tc.Title}}</h3>
        </div>

        <div class="panel-body">
          <div class="row">
          </div>
          <div class="row">
            <div class="col-lg-2">
              <strong>Version :</strong>
            </div>
            <div class="col-lg-3">
              1
            </div>
            <div class="col-lg-2">
              <strong>Last Updated : </strong>
            </div>
            <div class="col-lg-3">
              {{.tc.UpdatedAt.Format "2006-01-02" }}
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2">
              <strong>Status :</strong>
            </div>
            <div class="col-lg-3">
              {{if eq .tc.Status 0}}
              Activation
              {{else if eq .tc.Status 1}}
              Deactivation
              {{else}}
              Closed
              {{end}}
            </div>
            <div class="col-lg-2">
              <strong>Reported :</strong>
            </div>
            <div class="col-lg-3">
              {{.tc.CreatedAt.Format "2006-01-02" }}
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2">
              <strong>Priority :</strong>
            </div>
            <div class="col-lg-3">
              {{if eq .tc.Priority 1}}
              Highest
              {{else if eq .tc.Priority 2}}
              High
              {{else if eq .tc.Priority 3}}
              Medium
              {{else if eq .tc.Priority 4}}
              Low
              {{else if eq .tc.Priority 5}}
              Lowest
              {{else}}
              Unknown
              {{end}}
            </div>
            <div class="col-lg-2">
              <strong>Execution Type :</strong>
            </div>
            <div class="col-lg-3">
              {{if eq .tc.ExecutionType 0 }}
              Manual
              {{else}}
              Automation
              {{end}}

            </div>
          </div> <!--/#row -->
          <div class="row">
            <div class="col-lg-2">
              <strong>Estimated Time(Min.) :</strong>
            </div>
            <div class="col-lg-3">
              {{.tc.Estimated}}
            </div>
            <div class="col-lg-2">
            </div>
            <div class="col-lg-3">
            </div>
          </div> <!--/#row -->
          <div class="row">
            <div class="col-lg-5">
              <h4><strong>{{msg . "description"}}</strong></h4>
            </div>
          </div> <!--/#row -->
          <div class="row">
            <div class="col-lg-10">
              {{.tc.Description}}
            </div>
          </div><!-- /#row -->
          <div class="row">
            <div class="col-lg-5">
              <h4><strong>Precondition</strong></h4>
                      </div>
                    </div> <!--/#row -->
                    <div class="row">
                      <div class="col-lg-10">
                      {{.tc.Precondition}}
                      </div>
                    </div><!-- /#row -->
                    <div class="row">
                      <div class="col-lg-5">
                        <h4><strong>Steps</strong></h4>
                      </div>
                    </div> <!--/#row -->
                    <div class="row">
                      <div class="col-lg-5">
                      {{.Action}}
                      </div>
                      <div class="col-lg-5">
                      {{.Expected}}
                      </div>
                    </div><!-- /#row -->
                    <div class="row">
                      <div class="col-lg-5">
                        <h4><strong>Related Requirements</strong></h4>
                      </div>
                    </div> <!--/#row -->
                    <div class="row">
                      <div class="col-lg-5">
                        <h4><strong>Tags</strong></h4>
                      </div>
                    </div> <!--/#row -->

                  </div><!--/#panel-body -->
                </div> <!-- /#panel panel-default -->
              {{else}}
                <p> no data! </p>
              {{end}}
            </div>
            </div>
            <!-- end of row -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->  

    
{{template "footer.html" .}}
