{{define "title"}}Dashboard{{ end }}
{{define "more_style"}}{{end}}
{{$project_name := .prj.Name}}  
{{define "content"}}
<div class="content-wrapper">
	<section class="content-header">
	  <h1>
	    Dashboard
	    <small>Project {{.Project.Name}}</small>
	  </h1>
	  <ol class="breadcrumb">
	    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
	    <li class="active">Dashboard</li>
	  </ol>
	</section>
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-4">
        <div class="box box-warning">
          <div class="box-body">
            <div class="row">
              <div class="col-md-12">
                <div class="dashboard-icon-item">
                  <span>
                    <i class="fa fa-tasks"></i>
                  </span>
                </div><!-- .dashboard-icon-item -->
                <div style="margin-left:40px;padding:5px 10px;">
                  <span class="info-box-text">Your Task(s)</span>
                  <span class="info-box-number">{{.TaskCount}}</span>
                </div>
                <div class="dashboard-icon-item">
                  <span>
                     <i class="glyphicon glyphicon-search"></i>
                  </span>
                </div><!-- .dashboard-icon-item -->
                <div style="margin-left:40px;padding:5px 10px;">
                  <span class="info-box-text">Review Requested</span>
                  <span class="info-box-number">0</span>
                </div>
                <div class="dashboard-icon-item">
                  <span>
                      <i class="fa fa-bullhorn"></i>
                  </span>
                </div><!-- .dashboard-icon-item -->
                <div style="margin-left:40px;padding:5px 10px;">
                  <span class="info-box-text">Test Requested</span>
                  <span class="info-box-number">0</span>
                </div>
              </div> <!-- .col --> 
            </div> <!-- .row -->
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div><!-- /.col -->
      <div class="col-md-4">
        <div class="box box-warning">
          <div class="box-body">
            <div class="row">
              <div class="col-md-12">
                <small>Project Overall</small>
                <p style="margin-bottom:-5px;">
                  <span class="font40 right7"><strong>{{.BuildCount}}</strong></span> Build(s)
                  <span class="font20 left7">
                    <strong>
                      <span class="text-green">2722</span>
                    </strong>/
                    <strong>
                      <span class="text-red">25</span>
                    </strong>
                  </span>
                  Test on Build
                </p>
                <p style="margin-bottom:-5px;">  
                  <span class="font40 right7"><strong>{{.TestPlanCount}}</strong></span> Test Plan(s)
                </p>
                <p style="margin-bottom:-5px;">  
                  <span class="font40 right7"><strong>{{.TestCaseNum}}</strong></span> Test Case(s)
                </p> 
              </div>
            </div>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div><!-- /.col -->
      <div class="col-md-4">
        <div class="box box-warning">
          <div class="box-body">
            <div class="row">
              <div class="col-md-12">
                <small>Next Milestone</small>
                <p class="font25"><strong>
                  {{if .Milestone}}
                  {{.Milestone.Name}}
                  {{else}}
                  No Milestone
                  {{end}}
                  </Strong></p>
                  <p class="font17"><strong>{{.DaysLeft}}</strong><small> day(s) left</small></p>
              </div>
            </div>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div><!-- /.col -->
    </div><!-- /.row -->
    
    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Requirement-TestCase Coverage</h3>
          </div><!-- /.box-header -->
          <div class="box-body">
            <div class="row">
              <div class="col-md-8">
                <div class="chart1" style="position:relative; overflow:hidden; width:100%;">
                  <canvas id="lineChart1" style="height: 200px; width: 509px;" width="509" height="200"></canvas>
                </div>
              </div><!-- /.col -->
              <div class="col-md-4">
                <p class="text-center">
                  <strong>Current Coverage</strong>
                </p>
                <div class="text-center">
                  <span style="font-size:68px;">{{.Coverage}}%</span>
                </div>
              </div><!-- .col -->
            </div><!-- /.row -->
          </div><!-- ./box-body -->
        </div><!-- .box -->
      </div> <!-- .col -->
    </div><!-- .row -->
    
    <div class="row">
      <div class="col-md-8">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Test Cases Graph</h3>
            <div class="box-tools pull-right">
              <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
              <div class="btn-group">
                <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench"></i></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
              <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div><!-- /.box-header -->
          <div class="box-body">
            <div class="row">
              <div class="col-md-12">
                <div class="chart" style="position:relative; overflow:hidden; width:100%;">
                  <canvas id="lineChart" style="height: 250px; width: 509px;" width="509" height="250"></canvas>
                </div>
              
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- ./box-body -->
        </div><!-- .box -->
      </div> <!-- .col -->
      <div class="col-md-4">
        <div class="box box-warning">
          <div class="box-header with-border">
            <h3 class="box-title">Now On Executing</h3>
            <div class="box-tools pull-right">
              <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
              <div class="btn-group">
                <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench"></i></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
              <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div><!-- /.box-header -->
          <div class="box-body">
            <div class="row">
              <div class="col-sm-12">
                <!-- Progress bars -->
                
                {{range .Tasks}}
                <div class="clearfix">
                  <span class="pull-left">{{.Plan.Title}} by {{.Executor.Name}}</span>
                  <small class="pull-right">{{.Progress}}%</small>
                </div>
                <div class="progress xs">
                  <div class="progress-bar progress-bar-green" style="width: {{.Progress}}%;"></div>
                </div>
                {{end}}
              </div>
            </div><!-- /.row -->
          </div><!-- ./box-body -->
        </div><!-- .box -->
      </div> <!-- .col -->
    </div> <!-- .row -->
  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
{{end}}
{{define "more_scripts"}}
<script src="/public/libs/chartjs/dist/Chart.min.js"></script>
<script>

    // belows are the graph for #testcase, #requirement
    var renderingData = {{.TestCaseDataSet}};
    var renderingDataReq = {{.ReqDataSet}};
    var arr = renderingData.split(",");
    var reqArr = renderingDataReq.split(",");

    var config = {
        type: 'line',
        data: {
            labels: ["-3 weeks", "-2 weeks", "-1 week", "Now"],
            datasets: [{
                label: "Number of Test Case(s)",
                data: arr,
                fill: false,
            }, {
              label: "Number of Requirement(s)",
                data: reqArr,
                fill: false,
            }]
        },
        options: {
            responsive: true,
            legend: {
                position: 'bottom',
            },
            hover: {
                mode: 'label'
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Period'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Number'
                    },
                    ticks: {
                      stepSize: 1
                    },
                    gridLines : {
                      display : false
                    }
                }]
            }, 
        }
    };

    $.each(config.data.datasets, function(i, dataset) {
        var background = '';
        if(i == 0){
          background = 'rgba(60,141,188,0.9)'; 
        }else{
          background = 'rgba(188,141,60,0.9)'; 
        }
        dataset.borderColor = background;
        dataset.backgroundColor = background;
        dataset.pointBorderColor = background;
        dataset.pointBackgroundColor = background;
        dataset.pointBorderWidth = 1;
    });

    // belows are the graph for requirement-testcase coverage
    var renderingDataCoverage = {{.CoverageDataSet}};
    var arrCoverage = renderingDataCoverage.split(",");
    var configArea = {
        type: 'line',
        data: {
            labels: ["-3week", "-2 week", "-1 week", "Now"],
            datasets: [{
                label: "Coverage(%)",
                data: arrCoverage,
                fill: true,
            }]
        },
        options: {
            responsive: true,
            legend: {
                position: 'bottom',
            },
            hover: {
                mode: 'label'
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Period'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: '%'
                    },
                    ticks: {
                      stepSize: 10
                    },
                    gridLines : {
                      display : false
                    }
                }]
            },
        }
    };

    
    $.each(configArea.data.datasets, function(i, dataset) {
        var background = 'rgba(60,141,188,0.9)';
        dataset.borderColor = background;
        dataset.backgroundColor = background;
        dataset.pointBorderColor = background;
        dataset.pointBackgroundColor = background;
        dataset.pointBorderWidth = 1;
    });

    // load both
    window.onload = function() {
        var ctx = document.getElementById("lineChart").getContext("2d");
        window.myLine = new Chart(ctx, config);

        var ctx2 = document.getElementById("lineChart1").getContext("2d");
        window.myLine = new Chart(ctx2, configArea);
    };
</script>
{{end}}


