{{define "title"}}Profile{{ end }}
{{define "more_style"}}{{end}}
{{define "content"}}
<div class="content-wrapper">
  <!-- Content header -->
  <section class="content-header">
    <h1>
      User Profile
      <small></small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/hello"><i class="fa fa-home"></i> Home</a></li>
      <li class="active">Here</li>
    </ol>
  </section>
  <!-- Main content -->
  <section class="content">
        <div class="row">
        <div class="col-md-3">
          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" src="/public/img/user/{{.TargetUser.Photo}}.png" alt="User profile picture">

              <h3 class="profile-username text-center">{{.TargetUser.Name}}</h3>

              <p class="text-muted text-center">Software Engineer</p>

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>
                  <p>{{.TargetUser.Notes}}</p>
                </li>
                <li class="list-group-item">
                  <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>
                  <p class="text-muted">{{.TargetUser.Location}}</p>
                </li>
                <li class="list-group-item">
                  <b>Member since {{.TargetUser.CreatedAt.Format "2006-01-02"}}</b>
                </li>
              </ul>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div><!-- /.col -->
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#activity" data-toggle="tab">Activity</a></li>
              {{if eq .TargetUser.ID .User.ID}}
              <li><a href="#settings" data-toggle="tab">Settings</a></li>
              {{end}}
            </ul>
            <div class="tab-content">
              <div class="active tab-pane" id="activity">
                {{range .Activities}}
                <!-- Post -->
                <div class="post">
                  <div class="user-block">
                    <img class="img-circle img-bordered-sm" src="/public/img/user/{{.User.Photo}}.png" alt="user image">
                        <span class="username">
                          <a href="#">{{.User.Name}}</a>
                          <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
                        </span>
                    <span class="description">{{.CreatedAt.Format "Jan 02, 2006 15:04"}}</span>
                  </div>
                  <!-- /.user-block -->
                  <p>
                    {{nl2br .Content}}
                  </p>
                  
                  
                  <ul class="list-inline">
                    <li><a href="#" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i> Share</a></li>
                    <li><a href="#" class="link-black text-sm"><i class="fa fa-thumbs-o-up margin-r-5"></i> Like</a>
                    </li>
                    <li class="pull-right">
                      <a href="#" class="link-black text-sm"><i class="fa fa-comments-o margin-r-5"></i> Comments
                        (5)</a></li>
                  </ul>

                  <input class="form-control input-sm" type="text" placeholder="Type a comment">
                </div>
                <!-- /.post -->
                {{end}}
              </div>
              {{if eq .TargetUser.ID .User.ID}}
              <div class="tab-pane" id="settings">
                <form class="form-horizontal" method="POST" action="/user/profile/update/{{.TargetUser.ID}}">
                  <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" value="{{.TargetUser.Name}}" name="Name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" value="{{.TargetUser.Email}}" name="Email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Location</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" value="{{.TargetUser.Location}}" name="Location">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputExperience" class="col-sm-2 control-label">Notes</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" name="Notes">{{.TargetUser.Notes}}</textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-danger">Submit</button>
                    </div>
                  </div>
                </form>
              </div><!-- /.tab-pane -->
              {{end}}
            </div><!-- /.tab-content -->
          </div><!-- /.nav-tabs-custom -->
        </div><!-- /.col -->
      </div><!-- /.row -->
  </section>
</div><!-- /.content-wrapper -->
{{end}}
{{define "more_scripts"}}{{end}}