{{define "title"}}Test Execution{{ end }}
{{define "more_style"}}
<link rel="stylesheet" type="text/css" href="/public/libs/bootstrap-sweetalert/dist/sweetalert.css">
{{end}}
{{define "content"}}
<div class="content-wrapper">
  <!-- Content header -->
  <section class="content-header">
    <h1>
      Test Execution
      <small>Manage test executions</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/project/{{.ProjectName}}/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Test Execution</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <label>
              Test execution list
            </label>
          </div>
          <div class="box-body">
            <div class='table-responsive'>
              <table class='table table-striped'>
                <thead>
                  <tr>
                    <th>Status</th>
                    <th>TestPlan</th>
                    <th>TC#</th>
                    <th>Tester</th>
                    <th>Build</th>
                    <th>Progress</th>
                    <th>Pass/Fail</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                {{range .TestExecs}}
                <tr>
                  <td>
                    {{if eq .Status 1}}
                      Ready
                    {{else if eq .Status 2}}
                      In Progress
                    {{else if eq .Status 3}}
                      N/A
                    {{else if eq .Status 4}}
                      Done
                    {{else if eq .Status 5}}
                      Done-Deny
                    {{else if eq .Status 6}}
                      Pass
                    {{else if eq .Status 7}}
                      Fail
                    {{else}}
                      Unknown
                    {{end}}
                  </td>
                  <td><a href='/project/{{$.ProjectName}}/testplan/view/{{.Plan.ID}}'>{{.Plan.Title}}</a></td>
                  <td>{{.Plan.ExecCaseNum}}</td>
                  <td>{{.Executor.Name}}</td>
                  <td>
                    <a href='/project/{{$.ProjectName}}/testplan/view/{{.TargetBuild.BuildProjectID }}'>
                      {{.TargetBuild.FullDisplayName}}
                    </a>
                  </td>
                  <td>{{.Progress}}%</td>
                  <td>{{.PassCaseNum}}/{{.FailCaseNum}}</td>
                  <td>
                    {{if lt .Status 4}}
                    <a href='/project/{{$.ProjectName}}/exec/run/{{.ID}}' class="glyphicon glyphicon-fire fa-fw"></a>
                    <a href='javascript:deny({{.ID}});' class="glyphicon glyphicon-ban-circle"></a>
                    <a href='javascript:remove({{.ID}});' class="glyphicon glyphicon-remove"></a>
                    {{end}}
                  </td>
                </tr>
                {{end}}
                </tbody>
              </table>
            </div> <!-- .table-responsive -->
          </div> <!-- .box-body -->
        </div> <!-- .box -->
      </div>  <!-- .col-md-12 -->
    </div><!-- .row -->
  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
{{end}}
{{define "more_scripts"}}
<script src="/public/libs/bootstrap-sweetalert/dist/sweetalert.min.js"></script> 
<script>
  var target = -1;
  function remove(p){
    swal({
      title: "Delete Test Execution",
      text: "You can not undo request",   
      type: "warning",   
      showCancelButton: true,
      confirmButtonColor: "#DD6B55",
      closeOnConfirm: false,  
      showLoaderOnConfirm: true, 
      confirmButtonText: "Yes, delete it!",
    }, 
    function(){   
      $.post('/project/{{.ProjectName}}/exec/remove', {id: p})
      .done(function(data){
        if(data.status == 200){
        }
        else{
          console.log("Failed to response : ", data);
        }
        location.reload();
      });
    });
  }

  function deny(p){
    swal({
      title: "You just deny the execution",
      type: "warning",
      text: "Please give me a reason to deny the test execution",
      type: "input",   
      showCancelButton: true,
      closeOnConfirm: false,   
      showLoaderOnConfirm: true, 
      animation: "slide-from-top",   
      inputPlaceholder: "Write why" }, 
      function(inputValue){   
        if (inputValue === false) 
          return false;      
        if (inputValue === "") {
          swal.showInputError("You need to write something!");
          return false
        }
        $.post('/project/{{.ProjectName}}/exec/deny'
            , {id: p, msg: inputValue})
          .done(function(data){
            if(data.status == 200){
              location.reload()
            }else{
              swal.showInputError("Something wrong....");
            }
          });
      });
  }
</script>
{{end}}
