    <!-- /#wrapper -->  

    <!-- jQuery -->
    <script src="/public/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/public/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/public/js/sb-admin-2.js"></script>

    {{if .include_morris}}
    <!-- Morris Charts JavaScript -->
    <script src="/public/bower_components/raphael/raphael-min.js"></script>
    <script src="/public/bower_components/morrisjs/morris.min.js"></script>
    <script src="/public/js/morris-data.js"></script>
    {{end}}
</body>

</html>
