    <!-- /#wrapper -->  

    <!-- jQuery -->
    <script src="/public/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/public/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/public/js/sb-admin-2.js"></script>

    {{if .include_morris}}
    <!-- Morris Charts JavaScript -->
    <script src="/public/bower_components/raphael/raphael-min.js"></script>
    <script src="/public/bower_components/morrisjs/morris.min.js"></script>
    <script src="/public/js/morris-data.js"></script>
    {{end}}
    <script>
        $(document).ready(function(){
            $('#hdr-btn-prj').click(function(event){
                console.log($(this).attr('aria-expanded'));
                if($(this).attr('aria-expanded') == "true"){
                    return;
                }
                $.getJSON('{{url "Projects.GetProjectList" 10}}', function(data){
                    console.log(data);
                    // append here project-dropdown 
                    // output.html(loader);
                    
                    var inner = "";
                    $.each(data, function(index, value) {
                        inner = inner + "<li><a href='#'> <i class='fa fa-briefcase fa-fw'></i> "+ value.Name + "</a></li>";
                    });
                    inner += "<li class='divider'></li>";
                    inner += '<li><a class="text-center" href="{{url "Projects.List"}}"><strong>Show All Projects</strong><i class="fa fa-angle-right"></i></a></li>';
                    var target = $('#project-dropdown');
                    $(target).html(inner);
                });
            });
        });
    </script>
</body>

</html>
